@media (min-width: 38em) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    main {
        max-width: 1100px;
        margin: 0 auto;
        grid-template-columns: 2fr 1fr;
    }

    .hero,
    .spotlights {
        grid-column: 1 / -1;
    }

    .cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.6);
        padding: 1.5rem 2rem;
        border-radius: 8px;
        margin-top: 0;
    }

    #spotlight-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}