@media (min-width: 640px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}